<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{url_for('static', filename='../static/css/styles.css')}}>
    <title>Elections</title>
</head>

<body>
    <div class='container'>
        <div>
            {{albums.to_html() | safe}}
        </div>
        <div>
            {{artists.to_html() | safe}}
        </div>
        <div>
            {{tracks.to_html() | safe}}
        </div>
    </div>
    <div>
        <form action="/" method="POST">
            <input type="radio" name="table" value="albums"> albums<br>
            <input type="radio" name="table" value="tracks"> tracks<br>
            <input type="radio" name="table" value="artists"> artists<br>
            <input type="submit" value="Submit">
        </form>
    </div>
    {% if table is defined %}
     {{table.to_html() | safe}}
    {% endif %}
</body>

</html>