{% extends "base.html" %}
{% block content %}

    <div class='container'>
        <p>Overview</p>
        <div>
            {{albums.to_html() | safe}}
        </div>
        <div>
            {{artists.to_html() | safe}}
        </div>
        <div>
            {{tracks.to_html() | safe}}
        </div>
    </div>
    <div>
        <form action="/" method="POST">
            <input type="radio" name="table" value="albums"> albums<br>
            <input type="radio" name="table" value="tracks"> tracks<br>
            <input type="radio" name="table" value="artists"> artists<br>
            <input type="submit" value="Submit">
        </form>
   
    {% if table is defined %}
     {{table.to_html() | safe}}
    {% endif %}
    {% endblock %}
</div>